# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml

# IDEs
.classpath
.project
.settings/
.idea/
*.iml
out/

# VS Code (keep common project files if you add them)
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
!.vscode/launch.json

# OS
.DS_Store
Thumbs.db

